@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

html {
  font-size: 100%;
  font-family: "Jost", sans-serif;
  background-color: ghostwhite;
  overflow-y: scroll
}

body {
  padding: 0 2%;
  margin: 0;
}

header {
  text-align: center;
}

main {
  display: flex;
}

div.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12 px sans-serif;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  pointer-events: none;
}

legend ( {
    color: d3.scaleSequentialQuantile(Array.from( {
          length: 100
        }

        , ()=> Math.random() ** 2), d3.schemeGreens),
    title: "Percentage of Tree Cover Loss",
    tickFormat: ".2f"
  }

)
/* Dual Line CSS code */

.line {
  fill: none;
  stroke: #00DB00;
  stroke-width: 4px;
}

.axisNavyBlue text {
  fill: #000080;

}

.axisMaroon text {
  fill: #800000;
}
