@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");


html {
  font-size: 120%;
  font-family: "Jost", sans-serif;
  background-color: #eee;
  overflow-y: scroll
}

body {
  padding 0 2%;
  margin: 0;
}

header {
  text-align: center;
}

main {
  display: flex
}
